@model Post

<div id="header">
    <div class="site-heading">
        <div id="blog-title">
            @Model.Title
        </div>
        <div id="title-divider"></div>
        <div id="title-description">
            @Model.ShortDescription
        </div>
    </div>
</div>
<article id="individual-post-body" class="">
    @Html.Raw(Model.Body)
</article>
