@model Post

<div id="header">
    <div class="site-heading">
        <div id="blog-title">
            @Model.Title
        </div>
        <div id="title-divider"></div>
        <div id="title-description">
            @Model.ShortDescription
        </div>
    </div>
</div>
<div class="row">
    <div id="individual-post-body" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @Html.Raw(Model.Body)
    </div>
</div>