@{
    ViewData["Title"] = "About";
}
<div id="headerAbout">
    <div class="site-heading">
        <div id="blog-title">
            About Me
        </div>
        <div id="title-divider"></div>
        <div id="title-description">
            This is who I am.
        </div>
    </div>
</div>
<div id="aboutContainer" class="container">
    <p class="about">
        Hello, my name is Frank Rodriguez and this is my blog Disciple of Code. I am an aspiring programmer, a friend, and a husband/father.
        I found computer programming a bit into my adult life, but I realized that this is my new career.
    </p>
    <br />
    <p class="about">
        I was lucky to be in the right place (Miami) at the right time (Now).
        Two years ago, I heard of this new program that came to Miami Dade College called CS50xMiami.
        It is an offshoot of the Harvard Introduction to Computer Science course CS50, that is taught to mainly career changers.
        I walked into the class knowing nothing about computer science and programming and I walked out with what I feel is a fresh start.
    </p>
    <br />
    <p class="about">
        This blog is my attempt to share what I have learned and what I am currently learning, as I learn it.
        I am not an expert, but if you have any questions about anything I have written about please feel free and go to the Contact page and send me a message.
        I  am grateful and I know this is only the beginning, so please come and join me on my journey!
    </p>
</div>